* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

.menu-bar {
    min-height: 4rem;
    display: flex;
    background: linear-gradient(darkorange, rgb(182, 100, 0));
    justify-content: space-between;
    align-items: center;
    
}

.menu-bar h1{
    font-size: 25px;
    font-weight: bold;
    margin-left: 1rem;
}

.menu-bar ol {
    display: flex;
}

.menu-bar ol ul {
    margin: 0 10px;
}

.menu-bar ol ul a {
    font-size: 13px;
    text-decoration: none;
    color: white;
}

body {
    font-family: arial, sans-serif;
    background-color: rgb(34, 34, 34);
    color: white;
}

section {
    padding-top: 40px;
}

section .pic {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section .pic img {
    border-radius: 1rem;
}

section .pic .info {
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: 10px;
}

.moment {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.moment video {
    width: 75%;
    height: auto;
    border-radius: 1rem;
    border: 3px solid white;
}