body {
    height: 2000px;
}

div {
    width: 150px;
    height: 150px;
    margin: auto;
}

.satu {
    background-color: lightgreen;
}

.dua {
    background-color: violet;
    position: absolute;
    top: 0;
    left: 0;
}

.tiga {
    background-color: gold;
}

.container {
    width: 450px;
    height: 500px;
    border: 10px solid green;
    position: relative;
}